body {
  font-family: sans-serif;
}

kbd {
  display: inline-block;
  padding: 2px 4px;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  background-color: #eee;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  white-space: nowrap;
}

code {
  color: #d63384;
  font-size: inherit;
  font-family: inherit;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: rgba(214, 51, 132, 15%);
}

p {
  color: #333;
  line-height: 1.6;
}

ul {
  margin: 0;
}

.alert-info {
  padding: 10px;
  margin-bottom: 16px;
  background-color: #cfe2ff;
  border: 1px solid #9ec5fe;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}
